/*============================================

CSS Fix-IE8 by SONHLAB.com - version 1.0
Website: http://sonhlab.com

============================================*/


/* Transparent Colors */
.transparent-deepsea {
	background:#2C84EE;
}
.transparent-smoke {
	background:#f5f5f5;
}
.transparent-grass {
	background:#CDCD00;
}
.transparent-black {
	background:#000;
}
.transparent-darknight {
	background:#000;
}
.transparent-red {
	background:#E51400;
}
.transparent-violetred {
	background:#781766;
}
.transparent-green {
	background:#67B239;
}
.transparent-yellow {
	background:#F7D100;
}
.transparent-orange { 
	background:#FF6600;
}
.transparent-coral {
	background:#CD5B45;
}
.transparent-wheat {
	background:#F7D100;
}
.transparent-redwine {
	background:#5F0000;
}
.transparent-mist {
	background:#fff;
}
/* End Transparent Colors */