	<!-- SocialAuth Package -->
    <div id="tilebox-jquery" class="op-panel img-brickwall">
		
    	<!-- Control -->
    	<div class="op-panelctrl solid-black">
		
            <!-- Close Button -->
            <div data-close='tilebox-jquery' class="op-panelbt op-bt-close">
                <img src="images/arrow-left-48.png" alt="close" />
            </div>
            <!-- End Close button -->
			
			<!-- Close All to Close All Panels -->
            <div class="op-panelbt op-bt-closeall floatright">
                <img src="images/close-white-48a.png" alt="close all" />
            </div>
            <!-- End Close All -->
            
            <div class="clearspace"></div>
        </div>
        <!-- End Control -->
        
        
    	<!-- Panel Content -->
        <div class='op-panelform'>
        
			<div class="img-holder" style="text-align:center;">
			<a href="http://docs.sonhlab.com/tilebox-jquery-modern-responsive-lightbox/" target="_blank">
				<img src="images/demo/tilebox-jquery-banner.png" alt="TILEBOX JQUERY – MODERN RESPONSIVE LIGHTBOX" class="responsive-img" />
			</a>
			</div>
			
        </div>
        <!-- End Panel Content -->
        
    </div>
    <!-- END MenuStation -->